:host {
  width: 100%;
  height: 100%;
  .u-page {
    width: 100%;
    height: 100%;
    .u-head {
      background-color: #fff;
      color: #97a8be;
      border-bottom: 1px solid #97a8be;
    }
    .u-cont {
      ul {
        outline: none;
        li {
          outline: none;
        }
      }
    }
  }
}