<nz-layout class="u-page">
  <nz-header class="u-head">
    <app-head class="u-head" page="用户管理"></app-head>
  </nz-header>
  <nz-content class="u-cont">
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-menu-item [nzSelected]="true" routerLink="pay-add">
        <i nz-icon type="pay-circle" theme="outline"></i> 
        添加消费
      </li>
      <li nz-menu-item routerLink="user-add">
        <i nz-icon type="user-add"></i> 
        添加用户
      </li>
    </ul>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>