<div class="uc-page">
  <h3 class="header">修改用户</h3>
  <div class="control">
    <!-- 搜索用户 -->
    <div class="search">
      <nz-input-group nzSearch nzSize="large" [nzSuffix]="searchButton">
        <input [(ngModel)]="searchText" type="text" nz-input placeholder="搜索用户" (input)="handleSearchInput()"/>
      </nz-input-group>
      <ng-template #searchButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search()">
          搜索
        </button>
      </ng-template>
    </div>
  </div>

  <div class="table">
    <nz-table
      [nzData]="users"
      nzPageSize="10"
      [nzTotal]="users.length"
      [(nzPageIndex)]="currentPage"
    >
      <thead>
        <tr>
          <th>编号</th>
          <th>用户名称</th>
          <th>用户手机</th>
          <th>所在区</th>
          <th>详细地址</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users_show; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}{{item.gender=='男'?'先生':'女士'}}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.area }}</td>
          <td>{{ item.addr }}</td>
          <td>
            <button
              nz-button nzType="primary" nzSize="small"
              (click)="handleChange(item._id)">修改
            </button>
            /
            <button
              nz-button nzType="danger" nzSize="small"
              nz-popconfirm nzTitle="删除用户会同时删除该用户的消费记录，你确定要删除吗？" 
              (nzOnConfirm)="deleteOne(item._id)">
              删除
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <nz-modal
    [nzVisible]="change_id!==''" nzTitle="修改用户信息"
    (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">

    <div class="form">
      <!-- 用户姓名 -->
      <nz-input-group nzAddOnBefore="填写用户姓名: " nzSize="large">
        <input type="text" placeholder="姓" nz-input nzSize="large" [(ngModel)]="change_obj.name">
      </nz-input-group>
  
      <!-- 用户性别 -->
      <nz-input-group nzAddOnBefore="选择用户性别: " nzSize="large">
        <nz-select nzAllowClear nzPlaceHolder="选择性别" style="display: block;" nzSize="large" [(ngModel)]="change_obj.gender">
          <nz-option [nzValue]="'男'" nzLabel="男"></nz-option>
          <nz-option [nzValue]="'女'" nzLabel="女"></nz-option>
        </nz-select>
      </nz-input-group>
  
      <!-- 用户联系方式 -->
      <nz-input-group nzAddOnBefore="用户联系方式: " nzSize="large">
        <input type="text" nzSize="large" placeholder="手机号" nz-input #telephone [(ngModel)]="change_obj.phone">
      </nz-input-group>
  
      <!-- 联系地址 -->
      <nz-input-group class="connect-address" nzCompact nzSize="large" nzAddOnBefore="用户联系地址: ">
        <nz-select style="width: 40%;" nzAllowClear nzPlaceHolder="选择地区" nzSize="large" [(ngModel)]="change_obj.area">
          <nz-option *ngFor="let area of areas" [nzValue]="area" [nzLabel]="area"></nz-option>
        </nz-select>
        <input type="text" style="width: 60%;" placeholder="具体家庭住址" nz-input [(ngModel)]="change_obj.addr">
      </nz-input-group>

    </div>
  </nz-modal>
</div>
