<div class="cont">
  <h3>添加用户</h3>
  <div class="form">
    <!-- 用户姓名 -->
    <nz-input-group nzAddOnBefore="填写用户姓名: " nzSize="large">
      <input type="text" placeholder="姓" nz-input nzSize="large" [(ngModel)]="userName">
    </nz-input-group>

    <!-- 用户性别 -->
    <nz-input-group nzAddOnBefore="选择用户性别: " nzSize="large">
      <nz-select nzAllowClear nzPlaceHolder="选择性别" style="display: block;" nzSize="large" [(ngModel)]="userGender">
        <nz-option [nzValue]="'男'" nzLabel="男"></nz-option>
        <nz-option [nzValue]="'女'" nzLabel="女"></nz-option>
      </nz-select>
    </nz-input-group>

    <!-- 用户联系方式 -->
    <nz-input-group nzAddOnBefore="用户联系方式: " nzSize="large">
      <input type="text" nzSize="large" placeholder="手机号" nz-input #telephone [(ngModel)]="phoneNum">
    </nz-input-group>

    <!-- 联系地址 -->
    <nz-input-group class="connect-address" nzCompact nzSize="large" nzAddOnBefore="用户联系地址: ">
      <nz-select style="width: 40%;" nzAllowClear nzPlaceHolder="选择地区" nzSize="large" [(ngModel)]="chooseAreaIndex">
        <nz-option *ngFor="let area of areas; index as i" [nzValue]="i" [nzLabel]="area"></nz-option>
      </nz-select>
      <input type="text" style="width: 60%;" placeholder="具体家庭住址" nz-input [(ngModel)]="userAddr">
    </nz-input-group>
    <!-- 添加用户按钮组 -->
    <nz-input-group class="submit" nzSize="large">
      <button nz-button nzType="primary" nzSize="large" (click)="create()">
        添加用户
      </button>
      <button nz-button nzType="primary" (click)="clearAll()"
        nzSize="large" style="margin-right: 20px;">
        清空信息
      </button>
    </nz-input-group>
  </div>
</div>