.cont {
  width: 80%;
  margin: 20px auto;
  .form {
    nz-input-group {
      margin-bottom: 20px;
    }
    .connect-address {
      position: relative;
      nz-select {
        float: left;
      }
      input {
        float: left;
      }
    }
    .submit {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
