<div class="gc-page">
  <h3 class="header">修改商品</h3>
  <div class="control">
    <!-- 搜索商品类别 -->
    <div class="search">
      <nz-input-group nzSearch nzSize="large" [nzSuffix]="searchButton">
        <input
          [(ngModel)]="searchText"
          type="text"
          nz-input
          placeholder="搜索商品"
        />
      </nz-input-group>
      <ng-template #searchButton>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          nzSearch
          (click)="search()"
        >
          搜索
        </button>
      </ng-template>
    </div>
  </div>

  <div class="table">
    <nz-table
      [nzData]="goods"
      nzPageSize="10"
      [nzTotal]="goods.length"
      [(nzPageIndex)]="currentPage"
    >
      <thead>
        <tr>
          <th>编号</th>
          <th>商品名称</th>
          <th>商品分类</th>
          <th>商品进价(元/单位)</th>
          <th>商品售价(元/单位)</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of goods_show; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.category.name }}</td>
          <td>{{ item.price.inValue }} 元/单位</td>
          <td>{{ item.price.outValue }} 元/单位</td>
          <td>
            <button
              nz-button nzType="primary" nzSize="small"
              (click)="handleChange(item._id)">修改
            </button>
            /
            <button
              nz-button nzType="danger" nzSize="small"
              (click)="deleteOne(item._id)">
              删除
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <nz-modal
    [nzVisible]="change_id!==''" nzTitle="修改商品信息"
    (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">

      <input class="good-change-input" nz-input placeholder="请输入修改后的商品名称" nzSize="large" [(ngModel)]="change_obj.name" />
      <nz-select class="good-change-input" nzAllowClear nzPlaceHolder="请选择商品类别" nzShowSearch nzAllowClear
        style="display: block;" nzSize="large" [(ngModel)]="change_obj.category">
        <nz-option
          *ngFor="let category of categories"
          [nzValue]="category._id"
          [nzLabel]="category.name"
        ></nz-option>
      </nz-select>
      <input class="good-change-input" nz-input type="number" placeholder="请输入修改后的商品进价" nzSize="large" [(ngModel)]="change_obj.inValue" />
      <input nz-input type="number" placeholder="请输入修改后的商品售价" nzSize="large" [(ngModel)]="change_obj.outValue" />

  </nz-modal>
</div>
